body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #222;
}

header {
  text-align: center;
  padding: 70px 20px;
  background: #ffffff;
  color: #0A2F52;
  border-bottom: 1px solid #e5e5e5;
}


.logo {
  width: 180px;
  margin-bottom: 25px;
}


section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 15px;
}

.cta-buttons {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 14px 34px;
  margin: 8px;
  border-radius: 999px; /* <-- pill shape */
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
}

.btn-primary {
  background-color: #0A2F52;
  color: #ffffff;
}

.btn-secondary {
  background-color: #1E6BA8;
  color: #ffffff;
}

img {
  max-width: 250px;
  margin: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #eee;
}

.logo-small {
  width: 100px;
  margin: 20px;
}

section {
  padding: 45px 20px;
  max-width: 900px;
  margin: auto;
}

section h2 {
  font-size: 28px;
  margin-bottom: 12px;
  color: #0A2F52;
}

section ul, section p {
  margin-bottom: 12px;
  font-size: 17px;
}

.portfolio-link {
  color: #0000FF;
  text-decoration: none;
  font-weight: 500;
}

.portfolio-link:hover {
  text-decoration: underline;
}

.social-icon {
  width: 28px;
  margin: 0 8px;
  vertical-align: middle;
}

